<header class="header-section clearfix">
    <a href="@Url.Action("Index","Home")" class="site-logo">
        <img src="@Url.Content("~/Content/img/companylogo.png")" alt="">
    </a>
    <div class="header-right">
        <div class="user-panel">
            @if (Session["Logged"] == null)
            {
                <a href="@Url.Action("Index","Login")" class="login">Login</a>
            }
            else { 
            if ((bool)Session["Logged"])
            {
                <a href="@Url.Action("MyPage","Home")">@Session["User"]</a>
                <a href="@Url.Action("Loggout","Login")">Loggout</a>

            }
            else
            {
                <a href="@Url.Action("Index","Login")" class="login">Login</a>
            }
            }
        </div>
    </div>
    <ul class="main-menu">
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="@Url.Action("About","Home")">About</a></li>
        <li><a href="@Url.Action("Artists","Home")">Artists</a></li>
        <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
        @if (Session["Logged"] == null)
        {
            <li>
                <a href="#" class="register">Create an account</a>
                <ul class="sub-menu">
                    <li><a href="@Url.Action("RegisterMusician", "Register")">As musician</a></li>
                    <li><a href="@Url.Action("RegisterWriter", "Register")">As writer</a></li>
                    <li><a href="@Url.Action("RegisterProducer", "Register")">As producer</a></li>
                </ul>
            </li>
        }
        else {
            if ((bool)Session["Logged"] == false)
            {
            <li>
                <a href="#" class="register">Create an account</a>
                <ul class="sub-menu">
                    <li><a href="@Url.Action("RegisterMusician", "Register")">As musician</a></li>
                    <li><a href="@Url.Action("RegisterWriter", "Register")">As writer</a></li>
                    <li><a href="@Url.Action("RegisterProducer", "Register")">As producer</a></li>
                </ul>
            </li>
            }
            else {}
        }
    </ul>
    
</header>