@using Domain.Entities.User;

<header class="header-section clearfix">
    <a href="@Url.Action("Index","Home")" class="site-logo">
        <img src="@Url.Content("~/Content/img/companylogo.png")" alt="">
    </a>
    <div class="header-right">
        <div class="user-panel">
            @if (Session["User"] == null)
            {
                <a href="@Url.Action("Index","Login")" class="login">Login</a>
            }
            else
            {
                if (((UserData)Session["User"]).Status == true)
                {
                    if ((bool)Session["isAdmin"] == true)
                    {
                        <a style="color:gold" href="@Url.Action("Admin","Admin")">@(((UserData)Session["user"]).Username)</a>
                    }
                    else
                    {
                        <a style="color:gold" href="@Url.Action("Users","User", new { ((UserData)Session["user"]).Id } )">@(((UserData)Session["user"]).Name)</a>
                    }
                    <a href="@Url.Action("Loggout","Login")">Loggout</a>

                }
                else
                {
                    <a href="@Url.Action("Index","Login")" class="login">Login</a>
                }
            }
        </div>
    </div>
    <ul class="main-menu">
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="@Url.Action("About","Home")">About</a></li>
        <li><a href="@Url.Action("Artists","Home")">Artists</a></li>
        <li><a href="@Url.Action("Contact","Home")">Contact</a></li>

        @if (Session["User"] == null || ((UserData)Session["User"]).Status == false)
        {
            <li>
                <a href="#registerLinks" class="register">Create an account</a>
                <ul class="sub-menu">
                    <li><a href="@Url.Action("RegisterMusician", "Register")">As musician</a></li>
                    <li><a href="@Url.Action("RegisterWriter", "Register")">As writer</a></li>
                    <li><a href="@Url.Action("RegisterProducer", "Register")">As producer</a></li>
                </ul>
            </li>
        }
        else { }
    </ul>

</header>