@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    @* BANNER *@
    <section class="hero-section">
        <div class="hero-slider owl-carousel owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-2526px, 0px, 0px); transition: all 0s ease 0s; width: 7578px;">
                    <div class="owl-item animated owl-animated-in fadeIn active" style="width: 1263px;">
                        <div class="hs-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hs-text">
                                            <h2><span>Music</span> for everyone.</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="hr-img">
                                            <img src="@Url.Content("~/Content/img/hero-bg.png")" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item animated owl-animated-in fadeIn" style="width: 1263px;">
                        <div class="hs-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hs-text">
                                            <h2><span>Listen </span> to new music.</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="hr-img">
                                            <img src="@Url.Content("~/Content/img/hero-bg.png")" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
        </div>
    </section>
    @* INTRODUCTION *@
    <section class="intro-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Our purpose</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
            </div>
        </div>
    </div>
    </section>
    @* HOW IT WORKS *@
    <section class="how-section spad set-bg" data-setbg="img/how-to-bg.jpg" style="background-image: url(&quot;img/how-to-bg.jpg&quot;);">
        <div class="container text-white">
            <div class="section-title">
                <h2>How it works</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="how-item">
                        <div class="hi-icon">
                            <img src="@Url.Content("~/Content/img/brain.png")" alt="">
                        </div>
                        <h4>Create an account</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipi-scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="how-item">
                        <div class="hi-icon">
                            <img src="@Url.Content("~/Content/img/pointer.png")" alt="">
                        </div>
                        <h4>Choose a specialization</h4>
                        <p>Donec in sodales dui, a blandit nunc. Pellen-tesque id eros venenatis, sollicitudin neque sodales, vehicula nibh. Nam massa odio, portti-tor vitae efficitur non. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="how-item">
                        <div class="hi-icon">
                            <img src="@Url.Content("~/Content/img/smartphone.png")" alt="">
                        </div>
                        <h4>Search for friends</h4>
                        <p>Ablandit nunc. Pellentesque id eros venenatis, sollicitudin neque sodales, vehicula nibh. Nam massa odio, porttitor vitae efficitur non, ultric-ies volutpat tellus. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*Register Now*@
    <section class="premium-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2>Register Now!</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <div class="concept-item">
                        <a  href="~/Register/RegisterMusician"><img src="@Url.Content("~/Content/img/musician.jpg")" alt=""></a>
                        <a href="~/Register/RegisterMusician"><h4>Register as Musician</h4></a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="concept-item">
                        <a  href="~/Register/RegisterWriter"><img src="@Url.Content("~/Content/img/writter.jpg")" alt=""></a>
                        <a href="~/Register/RegisterWriter"><h4>Register as Writer</h4></a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="concept-item">
                        <a  href="~/Register/RegisterProducer"><img src="@Url.Content("~/Content/img/songproducer.jpg")" alt=""></a>
                        <a href="~/Register/RegisterProducer"><h4>Register as Producer</h4></a>
                    </div>
                </div>
           
            </div>
        </div>
    </section>